<section class="about">
    <!-- <img src="assets/profile.jpg" alt="Jai's Profile Picture" class="profile-img">
     -->
    <h2>🙋‍♂️</h2>
    
    <p>Hi, I'm <strong>Jai</strong>, a passionate <strong>Java Full Stack Developer</strong> with <strong>4+ years of experience</strong> in  
        <strong>Spring Boot, Microservices, and Angular</strong>. I love building scalable applications and  
        continuously learning new technologies. 🚀</p>
     
     <p>Currently working at <a href="https://www.tcs.com/" target="_blank">Tata Consultancy Services (TCS) 🌐</a>,  
        I specialize in developing efficient and secure enterprise solutions.</p>
     

    <h3>💡 Skills</h3>
    <div class="skills-container">
        <span class="skill">Java</span>
        <span class="skill">Spring Boot</span>
        <span class="skill">Microservices</span>
        <span class="skill">Angular</span>
        <span class="skill">Docker</span>
        <span class="skill">Kubernetes</span>
        <span class="skill">PostgreSQL</span>
        <span class="skill">REST APIs</span>
        <span class="skill">CI/CD (Jenkins, GitHub Actions)</span>
        <span class="skill">Grafana & Prometheus</span>
        <span class="skill">Linux/Unix</span>
    </div>
</section>
