<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Jai_Techy</a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About Me</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">More</a>
      <div class="dropdown-content">
        <a routerLink="/services">Services</a>
        <a routerLink="/portfolio">Portfolio</a>
        <a routerLink="/testimonials">Testimonials</a>
      </div>
    </li>
  </ul>
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<!-- The wrapper that contains your main content (e.g., home page content) -->
<div class="app-wrapper">
  <!-- Main content rendered by Angular router -->
  <router-outlet></router-outlet>

</div>
